/* line 3, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
* {
  margin: 0;
  font-family: 'Open Sans';
  box-sizing: border-box;
}

/* line 7, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.default-button {
  height: 50px;
  background: #007298;
  gap: 10px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
}

/* line 20, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.default-input {
  border-color: #CFCFCF;
  border-radius: 4px;
  border-width: 1px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding: 13px 16px;
}

/* line 30, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.default-textarea {
  border-color: #CFCFCF;
  border-radius: 4px;
  border-width: 1px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding: 13px 16px;
}

/* line 40, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.error-message {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: red;
}

/* line 46, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.big-error-message {
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  color: red;
}

/* line 53, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
header {
  height: 80px;
  background: #FFFFFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

/* line 57, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
header nav {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

/* line 61, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.login-button {
  width: 140px;
}

/* line 63, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.name-logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 67, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.name-logout .name {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0px;
  min-width: 85px;
  min-height: 20px;
}

/* line 74, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.name-logout .logout-button {
  width: 140px;
  padding: 13px 36px;
}

/* line 77, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
body {
  background: #F7F7F7;
}

/* line 80, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.container {
  width: 1122px;
  margin: 0 auto;
  padding-top: 74px;
  padding-bottom: 242px;
  position: relative;
}

/* line 87, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses-head {
  display: flex;
  justify-content: space-between;
}

/* line 90, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses-head .search-bar {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

/* line 94, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses-head .search-bar-input {
  width: 400px;
  height: 50px;
}

/* line 97, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses-head .search-bar-button {
  width: 148px;
  padding: 13px 43px;
}

/* line 100, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses-head .add-button {
  width: 186px;
  padding: 13px 19px;
}

/* line 103, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses .course-card {
  margin-top: 33px;
  padding: 11px 44px 36px 14px;
  min-height: 238px;
  box-shadow: 2px 0px 8px 0px #00000040;
  border-radius: 8px;
  background-color: #F7F7F7;
  border-left: 7px solid #333E48;
  display: flex;
  justify-content: space-between;
}

/* line 113, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses .course-card-left {
  width: 56%;
}

/* line 115, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses .course-card-left-title {
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

/* line 122, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses .course-card-left-descr {
  padding-left: 10px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

/* line 130, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses .course-card-right {
  width: 31%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* line 135, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses .course-card-right-info {
  margin-top: 52px;
}

/* line 137, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses .course-card-right-info-authors {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 142, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses .course-card-right-info-authors:before {
  content: 'Authors: ';
  font-weight: 700;
}

/* line 146, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses .course-card-right-info-duration:before {
  content: 'Duration: ';
  font-weight: 700;
}

/* line 149, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses .course-card-right-info-duration:after {
  content: ' hours';
}

/* line 152, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses .course-card-right-info-created:before {
  content: 'Created: ';
  font-weight: 700;
}

/* line 155, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses .course-card-right-buttons {
  display: flex;
  justify-content: space-between;
}

/* line 158, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses .course-card-right-buttons .trash-button {
  background: #007298 url("assets/trash.png") no-repeat center center;
  width: 61px;
}

/* line 161, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses .course-card-right-buttons .edit-button {
  background: #007298 url("assets/edit.png") no-repeat center center;
  width: 61px;
}

/* line 164, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.courses .course-card-right-buttons .show-button {
  width: 180px;
}

/* line 166, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.empty-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

/* line 171, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.empty-list-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
  color: #333E48;
  text-transform: capitalize;
}

/* line 179, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.empty-list-descr {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

/* line 186, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.empty-list-add-button {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  min-width: 233px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

/* line 196, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.course-info {
  padding-top: px;
}

/* line 198, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.course-info-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
}

/* line 204, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.course-info-block {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 23px;
  padding: 53px 64px 77px 64px;
  background-color: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 4px;
}

/* line 213, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.course-info-block-left {
  width: 43%;
}

/* line 215, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.course-info-block-left-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

/* line 221, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.course-info-block-left-descr {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

/* line 228, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.course-info-block-delimiter {
  width: 1px;
  height: 54%;
  background-color: #CFCFCF;
  position: absolute;
  left: 50%;
  top: 20%;
}

/* line 235, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.course-info-block-right {
  width: 43%;
  margin-top: 43px;
  display: flex;
}

/* line 239, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.course-info-block-right-names {
  width: 27%;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

/* line 246, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.course-info-block-right-names-id ~ div {
  margin-top: 16px;
}

/* line 248, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.course-info-block-right-values {
  width: 73%;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 6px;
}

/* line 256, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.course-info-block-right-values-id ~ div {
  margin-top: 28px;
}

/* line 258, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.course-info-block-right-values-authors {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 262, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.course-info-block-right-values-duration {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

/* line 268, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.course-info-block-right-values-duration:after {
  content: ' hours';
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

/* line 276, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.course-info-button {
  margin-top: 46px;
  width: 185px;
  float: right;
}

/* line 280, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.registration {
  margin-top: 123px;
}

/* line 282, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.registration-header {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
}

/* line 288, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.registration-form {
  background-color: #FFFFFF;
  min-height: 558px;
  width: 585px;
  margin: 0 auto;
  margin-top: 36px;
  padding: 77px 150px 61px 150px;
}

/* line 295, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.registration-form > * {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
}

/* line 299, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.registration-form-label {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

/* line 305, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.registration-form-input {
  width: 286px;
  height: 50px;
}

/* line 308, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.registration-form-button {
  width: 100%;
  padding: 13px 99px;
}

/* line 311, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.registration-form-end {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  display: block;
}

/* line 318, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.registration-form-end-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

/* line 325, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.login {
  margin-top: 123px;
}

/* line 327, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.login-header {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
}

/* line 333, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.login-form {
  background-color: #FFFFFF;
  min-height: 558px;
  width: 585px;
  margin: 0 auto;
  margin-top: 36px;
  padding: 77px 150px 61px 150px;
}

/* line 340, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.login-form > * {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
}

/* line 344, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.login-form-label {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

/* line 350, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.login-form-input {
  width: 286px;
  height: 50px;
}

/* line 353, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.login-form-button {
  width: 100%;
  padding: 13px 99px;
}

/* line 356, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.login-form-end {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  display: block;
}

/* line 363, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.login-form-end-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

/* line 370, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.edit-create-course-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

/* line 376, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.edit-create-course-form {
  margin-top: 45px;
  background-color: #FFFFFF;
  min-height: 825px;
  padding: 42px 80px 76px 80px;
}

/* line 381, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.edit-create-course-form > * {
  display: flex;
  flex-direction: column;
}

/* line 384, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.edit-create-course-form-head {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

/* line 390, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.edit-create-course-form-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

/* line 396, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.edit-create-course-form-textarea {
  height: 152px;
}

/* line 398, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.edit-create-course-form-title {
  margin-top: 24px;
}

/* line 400, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.edit-create-course-form-description {
  margin-top: 4px;
}

/* line 402, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.edit-create-course-form-additional-info {
  margin-top: 15px;
}

/* line 405, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.edit-create-course-form-additional-info-left .edit-create-course-form-input {
  width: 400px;
}

/* line 407, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.edit-create-course-form-additional-info-left-duration {
  display: flex;
  flex-direction: column;
}

/* line 410, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.edit-create-course-form-additional-info-left-duration-inputs {
  align-items: center;
  display: flex;
}

/* line 413, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.edit-create-course-form-additional-info-left-duration-inputs-hours {
  margin-left: 16px;
}

/* line 415, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.edit-create-course-form-additional-info-left-duration-head {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

/* line 421, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.edit-create-course-form-additional-info-left-authors {
  margin-top: 15px;
}

/* line 423, ../../../../../Users/Mikita_Korshykau/Desktop/front/epam-courses/courses-app/src/sass/App.sass */
.edit-create-course-form-additional-info-left-authors-head {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

/*# sourceMappingURL=App.css.map */